html {
  font-family: "Noto Sans", sans-serif;
}

i {
  font-family: "Noto Sans Japanese", sans-serif;
}

.btn-ghost {
  border-radius: 4px;
  border-width: 1px;
  border-color: #d89fb0;
  color: #d89fb0;
}

.btn:hover {
  border-color: #b64c6e;
  color: #860927;
}

.border {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

li a {
  text-decoration: none;
  border-bottom: 1px solid #d89fb0;
  color: #d89fb0;
}
